QTreeView {
    background: rgb(40,40,40);
}

QTreeView::item::last:hover {
        image: url(":images/pin_grey.png");
        qproperty-iconSize: 14px;

}
QTreeView::item::last:pressed {
        image: url(":images/pin_white.png");
        qproperty-iconSize: 14px;

} 
QTreeView::item::last:selected {
        image: url(":images/pin_white.png");
        qproperty-iconSize: 14px;

} 

QTreeView {
        selection-background-color: rgb(40,40,40);

}